import React from 'react';
import { use{{folderName}}Styles } from './styles';

const {{folderName}} = () => {
    const classes = use{{folderName}}Styles();

    return <div className={classes.root}></div>;
};

export default React.memo({{folderName}});